# Use PHP CLI installed with Homebrew
export PATH="$(brew --prefix homebrew/php/php56)/bin:$PATH"

# Default editors
export EDITOR="vim"
export SVN_EDITOR="vim"

# Composer
export PATH=~/.composer/vendor/bin:$PATH

# MySQL
export PATH=/usr/local/mysql/bin:$PATH
