[user]
	name = Chris Marinas
	email = (none)
[core]
	editor = "vim"
	whitespace = space-before-tab,indent-with-non-tab,trailing-space,blank-at-eof
[init]
    templatedir = ~/.gittemplates
[push]
	default = current
